@media (max-width: 1000px) {
    /* CSS for mobile devices */
    .body_class {
      margin: 8%; /* Adjust the margin values as per your requirement */
    }
  }

/* text styling*/
.textStyleLeft{
    text-align: left;
}

.smallText{
    font-size: 15px;
}



/* Gradient styles */
.purpleGradientText{
    background-image: linear-gradient(to bottom, #6a45ff, #f198ff);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
}

.greenGradientText{
    background-image: linear-gradient(to bottom, #00a42c, #9df186); 
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
}

.purpleBg{
    background-image: linear-gradient(to bottom, #6a45ff, #f198ff);
}


/* Image styles */
.mainImage{  
    width: 130px;
    height: auto;
    /* border: 2px solid #a3a3a3; */
    border-radius: 100%;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
    
}

.logo_images{  
    width: 100px;
    height: auto;
    /* border: 2px solid #a3a3a3; */
}

.container{
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
}

/* Section styles */

.sectionOne{
    margin-top: 200px;
    margin-bottom: 150px;
    text-align: center;
}

.section{
    margin-top: 50px;
    margin-bottom: 60px;
}

/* Main Elements */

h1{
    font-size: 72px;
    font-weight: bold;
    color: rgb(63, 63, 63);   
}

h2{
    font-size: 40px;
    font-weight: bold;
    color: rgb(63, 63, 63);
}

p{
    font-size: 17px;
}

a{
    color: black;
}


body{
    font-family: 'Inter', sans-serif;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    color: rgb(90, 90, 90);
}



.timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
  }
  
.timeline-with-icons .timeline-item {
    position: relative;
  }
  
.timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
  }
  
.timeline-with-icons .timeline-icon {
    position: absolute;
    left: -48px;
    background-image: linear-gradient(to bottom, #6a45ff, #f198ff);
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .table{
    vertical-align: middle;
  }
  .navbar{
    text-align: center;
  }
/* Navigation Bar*/
.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020; /* Ensure it stays above other content */
}

.navbar {
    background-color: white;
    box-shadow: 0 4px 2px -2px rgb(236, 236, 236); /* Optional: adds a shadow for better visibility */
}

.navbar-nav {
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.nav-item {
    margin: 0 15px; /* Optional: add some margin between nav items */
}

.collapse.navbar-collapse {
    justify-content: center;
}

/* Typing effect */

.typing-effect {
    border-right: 0.1em solid #000; /* Cursor effect */
    white-space: nowrap;
    overflow: hidden;
    width: 100%; /* Adjust as needed */
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #000; }
  }